<p>
  This bootcamp is organized as a part of the <a href="https://po.usatlas.bnl.gov/">US-ATLAS</a> support center to help you be more productive researchers.
  It is run with the additional help of <a href="https://carpentries.org/">The Carpentries</a> (Elizabeth Wickes) and <a href="https://iris-hep.org/">IRIS-HEP</a>/Princeton (Henry Schreiner).
  Both of these organizations aim to help researchers get their work done in less time and with less pain by teaching them basic research computing skills.

  <br>
  <br>

  This is a hands-on bootcamp that will cover basic concepts and tools,
  including version control, building code with CMake, testing your code with
  continuous integration, and packaging/distributing your code with containers.
  Participants will be encouraged to help one another and to apply what they
  have learned to their own research problems.

  <br>

</p>
<p align="center">
  <em>
  <font size="+2">
     <strong>
     <font color="red">
     Before attending the bootcamp, it is necessary to work through the pre-bootcamp exercises
     </font>
     </strong>
     <br>
  </font>
  </em>
  <p class="text-center">
    <a href="https://adjackp.github.io/pre-workshopMaterial/" target=_blank>
      <button type="button" class="btn btn-info">Link to pre-bootcamp material</button>
    </a>
  </p>
</p>
