<h3>Monday</h3>
<table class="table table-striped">
  <tr> <td>09:40 (UTC-5)</td> <td>Welcome</td> </tr>
  <tr> <td>10:00 (UTC-5)</td> <td><a href="http://swcarpentry.github.io/git-novice/">Introduction to Git</a>, <a href="https://github.com/elliewix/github-training-brain-dumps/blob/master/github_directions_text_only.md">Getting started with GitHub</a> </td> </tr>
  <tr> <td>13:00 (UTC-5)</td> <td>Lunch Break</td> </tr>
  <tr> <td>14:00 (UTC-5)</td> <td><a href="https://aroepe.github.io/atlas-gitlab/">ATLAS-GitLab</a> </td> </tr>
</table>

<h3>Tuesday</h3>
<table class="table table-striped">
  <tr> <td>10:00 (UTC-5)</td> <td><a href="https://hsf-training.github.io/hsf-training-cmake-webpage/">Building Code with CMake</a> </td> </tr>
  <tr> <td>13:00 (UTC-5)</td> <td>Lunch Break</td> </tr>
  <tr> <td>14:00 (UTC-5)</td> <td><a href="https://kkrizka.github.io/atlas-cmake/">ATLAS-CMake</a></td> </tr>
</table>

<h3>Wednesday</h3>
<table class="table table-striped">
  <tr> <td>010:00 (UTC-5)</td> <td><a href="https://matthewfeickert.github.io/intro-to-docker">Containerization with Docker</a></td> </tr>
  <tr> <td>13:00 (UTC-5)</td> <td>Lunch Break</td> </tr>
  <tr> <td>14:00 (UTC-5)</td> <td><a href="https://kratsg.github.io/2020-08-24-usatlas-computing-bootcamp/">GitLab Pipelines</a></td> </tr>
</table>

<h3>Thursday</h3>
<table class="table table-striped">
  <tr> <td>010:00 (UTC-5)</td> <td><a href="https://alexschuy.github.io/2020-08-27-usatlas-recast-tutorial/">RECAST and Analysis Preservation</a> </td> </tr>
  <tr> <td>13:00 (UTC-5)</td> <td>Lunch Break</td> </tr>
  <tr> <td>14:00 (UTC-5)</td> <td><a href="https://alexschuy.github.io/2020-08-27-usatlas-recast-tutorial/">RECAST and Analysis Preservation</a> </td> </tr>
</table>

<h3>Friday</h3>
<table class="table table-striped">
  <tr> <td>Module 1</td> <td> <a href="https://hsf-training.github.io/hsf-training-ml-webpage/">Introduction to Machine Learning</a></td> </tr>
  <tr> <td>Module 2</td> <td> <a href="https://prbbing.github.io/no-spaghetti-code/">Sustainable Software Development</a></td> </tr>
</table>
