<p>
  This workshop is organized as a part of the <a href="https://po.usatlas.bnl.gov/">US-ATLAS</a> support center to help you be more
  researchers.
  Both of these organizations aim to help researchers get their work done in less time and with less pain by teaching them basic research computing skills.

  <br>
  <br>

  This is a hands-on workshop that will cover basic concepts and tools,
  including version control, building code with CMake, testing your code with
  continuous integration, and packaging/distributing your code with containers.
  Participants will be encouraged to help one another and to apply what they
  have learned to their own research problems.

  <br>

</p>
<p align="center">
  <em>
  <font size="+2">
     <strong>
     <font color="red">
     Before attending the workshop, it is necessary to work through the pre-workshop exercises
     </font>
     </strong>
     <br>
     <a href="https://adjackp.github.io/pre-workshopMaterial/">Link to pre-workshop material</a>.
  </font>
  </em>
</p>
